@use "../../../styles/" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: $color-text-primary;
}

.control {
  display: flex;
  align-items: center;
  gap: 8px;

  background: $color-surface-input;
  border: 1.5px solid;
  border-radius: $radius-md;
  padding: 10px 12px;

  &:focus-within {
    border-color: $color-primary;
  }
}

.invalid {
  border-color: $color-border-error;
}

.select {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

  color: #fff;
  font-size: 16px;

  appearance: none; // remove seta padrão
  cursor: pointer;

  option {
    color: #000; // evita option invisível no dark
  }
}

.errorText {
  font-size: 12px;
  color: $color-border-error;
}
