/* ================================
   BASE (usam variáveis CSS para tema claro/escuro)
================================ */

$color-background: var(--color-background, #1e1e1e);
$background-primary: var(--background-primary, #252525);
$background-secondary: var(--background-secondary, #333333);
$color-primary: var(--color-primary, #004AAD);
$color-secondary: var(--color-secondary, #0795FF);

/* ================================
   INPUTS / SUPERFÍCIES
================================ */

$color-surface-input: var(--color-surface-input, #47474759);
$color-border-input: var(--color-border-input, #6B6B6B);
$color-border-focus: var(--color-border-focus, #0795FF);
$color-border-error: var(--color-border-error, #D32F2F);

/* ================================
   TEXTOS
================================ */

$color-text-primary: var(--color-text-primary, #A4A4A4);
$color-text-placeholder: var(--color-text-placeholder, #8A8A8A);
$color-text-disabled: var(--color-text-disabled, #6F6F6F);
$color-text-error: var(--color-text-error, #FF6B6B);

/* ================================
   BRAND / AÇÕES
================================ */



