/* ================================
   BASE
================================ */

$color-background: #191919;

/* ================================
   INPUTS / SUPERFÍCIES
================================ */

$color-surface-input: #47474759; // fundo do input
$color-border-input: #6B6B6B;    // borda padrão do input
$color-border-focus: #0795FF;    // foco (secondary)
$color-border-error: #D32F2F;    // erro

/* ================================
   TEXTOS
================================ */

$color-text-primary: #A4A4A4;      // texto principal
$color-text-placeholder: #8A8A8A;  // placeholder
$color-text-disabled: #6F6F6F;     // desabilitado
$color-text-error: #FF6B6B;        // erro

/* ================================
   BRAND / AÇÕES
================================ */

$color-primary: #004AAD;   // ação principal
$color-secondary: #0795FF; // foco, links, destaque
